.c-filter { 
    background: var(--color-white); 
    border-radius: 12px; 
    padding: 20px; 
    border: 1px solid #eee; 
}

.c-filter h5 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-primary);/*Marka rengi*/
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    padding: 10px;
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: none;/*Gölge kaldırma*/
}